<div ng-controller="ImportController" layout="column" ng-cloak class="md-inline-form">
  <form name="storyForm">
  <p>Bitte nehmen Sie nun das Mapping vor!</p>
  <md-content layout-gt-sm="row" layout-padding layout-align='space-around center'>
    <md-content layout="column" layout-align='space-around center'>
      <div layout-gt-xs="row" ng-repeat="key in mapping track by $index">
        <div layout-gt-xs="column">
          <md-input-container>
            <label>{{key.key}}</label>
            <input name="mapping" ng-model="key.name" value="{{key.name}}" disabled>
          </md-input-container>
        </div>
        <div layout-gt-xs="column">
          <md-input-container>
            <label>Zugehöriges Entität.Attribut</label>
            <md-select ng-model="key.mapTo">
              <md-option ng-repeat="ent_attr in availMappings" ng-value="ent_attr">
                {{ent_attr}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </md-content>
    <md-content>
    <div>
      <md-button type="submit" ng-click="submit()"" ng-disabled="storyForm.$invalid">Mappen</md-button>
    </div>
    </md-content>
  </md-content>
  </form>

</div>