<div ng-controller="EntitymanagementController" layout="column" ng-cloak class="md-inline-form">

  <form name="entityForm">
  <md-content layout-gt-sm="row" layout-padding>
    <div>
      <md-input-container>
        <label>Entity Name</label>
        <input name="entityName" ng-model="entity.name" required>
        <div ng-messages="entityForm.entityName.$error" ng-show="entityForm.entityName.$dirty">
          <div ng-message="required">Muss eingeben werden!</div>
        </div>
      </md-input-container>
    </div>
  </md-content>

  <md-content layout-padding>
    <div>
      <form name="userForm">
        <p ng-hide="entity.name">Bitte geben Sie oben einen Entity Namen ein!</p>
        <p ng-show="entity.name">Entity <b>{{entity.name}}</b> soll folgenden Attribute haben:</p>
        <p ng-show="entity.name">(Groß und Kleinschreibung wichtig, mind. ein Attribut angeben!)</p>
        <div layout-gt-xs="row" ng-repeat="attr in getAttrSize() track by $index">
          <div layout-gt-xs="column">
            <md-input-container class="md-block" flex-gt-xs id="{{$index}}">
              <label>Attribut {{$index + 1}}</label>
              <input name="entityAttribute" ng-model="entity.attributes[$index]" ng-required="$index == 0">
            </md-input-container>
          </div>
          <div layout-gt-xs="column">
            <md-input-container class="md-block" flex-gt-xs id="{{$index}}">
              <label>Attributtyp {{$index + 1}}</label>
              <md-select name="entityAttributeMeta" ng-model="entity.meta[$index]" ng-required="entity.attributes[$index] != ''">
                <md-option value="string">String</md-option>
                <md-option value="location">Ort</md-option>
                <md-option value="number">Zahl</md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
        <div>
          <md-button ng-click="cancel()">Abbrechen</md-button>
          <md-button type="submit" ng-click="submit()"" ng-disabled="entityForm.$invalid">Hinzufügen</md-button>
        </div>
      </form>
    </div>
  </md-content>
  </form>

</div>