<html ng-app="gdisApp">
<head>
<link rel=icon href=imgs/favicon.ico>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <link rel="stylesheet" href="style/gdisStyles.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  --> <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.5/angular-messages.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>


  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

  <script src="app.js"></script>
  <script src="src/MainController.js"></script>
  <script src="src/ImportController.js"></script>
  <script src="src/ExportController.js"></script>
  <script src="src/EntitymanagementController.js"></script>
  <script src="src/CustomExportCtrl.js"></script>

</head>

<body ng-controller="MainController"> 


<md-content layout="row" flex layout layout-fill style="height: 100%">
  <md-content layout="column" id="navbar_container" layout layout-fill>

      <md-sidenav class="md-sidenav-left" id="md_sidebar_big" md-component-id="big" md-whiteframe="4" md-disable-backdrop>

      <md-toolbar class="md-theme-indigo" ng-click="toggle()" style="background-color: #C11E0D">
        <h1 class="md-toolbar-tools">GDIS Testverwaltung</h1>
      </md-toolbar>
      <md-list class="md-dense" flex>
        <md-list-item class="md-2-line" ng-repeat="nav in navs" ng-click="openUrl(nav.url, true)" ng-class="{ 'nav-active': item == activeItem }">
          <md-icon md-font-icon="material-icons">{{nav.icon}}</md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>{{ nav.name }}</h3>
            <p>{{ nav.descr }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <md-sidenav class="md-sidenav-left md-closed" id="md_sidebar_small" md-component-id="small" md-disable-backdrop md-whiteframe="4" style="max-width: 50px !important;">

      <md-toolbar class="md-theme-indigo" ng-click="toggle()" style="background-color: #C11E0D">
        <md-icon md-font-icon="material-icons">menu</md-icon>
      </md-toolbar>
      <md-list flex>
        <md-list-item class="md-1-line" ng-repeat="nav in navs" ng-click="openUrl(nav.url, false)" ng-class="{ 'nav-active': item == activeItem }">
          <md-icon md-font-icon="material-icons">{{nav.icon}}</md-icon>
        </md-list-item>
      </md-list>
    </md-sidenav>

  </md-content>
  <md-divider></md-divider>
  <md-content flex layout-fill layout style="height: 100%">
    <md-card flex layout-fill layout>
      <div ng-view></div>
    </md-card>
  </md-content>
</md-content>

</body>
</html>