<html ng-app="gdisApp">
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <link rel="stylesheet" href="gdisStyles.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.5/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Toast -->
<!--   <link rel="stylesheet" href="toast/ngToast.min.css">
  <script src="toast/ngToast.min.js"></script> -->

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.25/angular.min.js"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

  <script src="script.js"></script>


</head>

<body ng-controller="mainController"> 

  <ul ng-controller="navBarController">
      <li data-ng-click="sortCategory('home')" ng-class="{'active' : isActive('home')}"><a href="#/">Home</a></li>
      <li data-ng-click="sortCategory('import')" ng-class="{'active' : isActive('import')}"><a href="#import">Import</a></li>
      <li data-ng-click="sortCategory('export')" ng-class="{'active' : isActive('export')}"><a href="#export">Export</a></li>
      <li data-ng-click="sortCategory('entitycreation')" ng-class="{'active' : isActive('entitycreation')}"><a href="#entitycreation">Entity Creation</a></li>
      <li data-ng-click="sortCategory('entitymapping')" ng-class="{'active' : isActive('entitymapping')}"><a href="#entitymapping">Entity Mapping</a></li>
  </ul>

  <div style="padding:20px;margin-top:30px;background-color:#CCCCCC;height:1500px;" id="main">
      <div ng-view></div>

  </div>

</body>
</html>