<div class="jumbotron text-center">
    <h1>GDIS Entity Creation</h1>

    <p>{{ message }}</p>
    <div class="row">
        <br />
    </div>
    <div class="row">
        <div class="col-sm-3">
        	<p>Bitte bennen Sie die Entity und fügen Sie dann Attribute hinzu.</p>
        </div>
        <div layout-gt-sm="row" class="col-sm-6">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Entity Name</label>
            <input ng-model="entity.Name">
          </md-input-container>

          	<div>
	           <div ng-repeat="i in getSize()">
	           	  <div>
		          <md-input-container class="md-block" flex-gt-sm>
		            <label for={{$index}}>Attribut (Enter zum bestätigen)</label>
		            <input id={{$index}} ng-keyup="$event.keyCode == 13 ? updateAttributeInputs($index) : null">
		          </md-input-container>
		          </div>
	           </div>
	        </div>

        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary btn-space" ng-click="createEntity();" style="float: left;">Create</button>
            <button class="btn btn-primary btn-space" id="reset" ng-click="clearAll()" style="float: left;">Clear All</button>
        </div>
    </div>
    <span ng-show="false">
        <md-button class="md-primary md-raised" ng-click="showAlert($event)">
            Alert
        </md-button>
    </span>
</div>