<div ng-controller="ExportController" ng-cloak layout-gt-sm="row" layout="column">

<md-content layout="row" layout-fill layout>

    <md-card  flex="40">
        <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out" style="height: 50%;width: auto;">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">GDIS Export</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Hier können .csv und .story Dateien exportiert werden.
          </p>
          <p>
            Sie können entweder eine zu exportierende Story auswählen, zu der dann alle passenden Daten exportiert werden, oder aber ein paar Entitys auswählen, zu denen dann entweder passende Storys gefunden werden, oder aber nur die Entitäten als Daten exportiert werden.
          </p>
        </md-card-content>
      </md-card>

<md-divider></md-divider>

     <md-card flex="60" layout-fill>
    <md-toolbar layout="row" style="background:#C11E0D;">
      <div class="md-toolbar-tools">
        <span>Exports</span>
      </div>
    </md-toolbar>
      <md-list class="md-dense" flex>
        <md-subheader class="md-no-sticky">
          <p>Vorhandene Exports</p>
        </md-subheader>
        <md-card-content>
        <div layout="row" ng-repeat="export in exportWays track by $index">
          <div layout="column" flex="grow">
            <md-list-item>
              <img ng-src="imgs/favicon.ico" class="md-avatar" alt="" />
              <div class="md-list-item-text" layout="column">
                <h3>{{ export.way }}</h3>
                <p>{{ export.url }}</p>
              </div>
            </md-list-item>
          </div>
          <div layout="column" flex="nogrow" ng-if="export.ident != 'custom'">
            <md-input-container>
              <label>{{export.ident}}</label>
              <md-select ng-model="export.selected" required>
                <md-option ng-value="sel" ng-repeat="sel in getList(export.select)" ng-selected="$index == 0">{{ sel }}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <md-divider></md-divider>
          <div layout="column" flex="nogrow">
            <md-list-item>
                <md-button class="md-raised md-primary" ng-href="{{export.url + export.selected}}" target="_blank" ng-if="export.ident != 'custom'">Export</md-button>
                <md-button class="md-raised md-primary" ng-click="customExport()" ng-if="export.ident == 'custom'">Export</md-button>
            </md-list-item>
          </div>
        </div>
        </md-card-content>
      </md-list>
    </md-card>
</md-content>

<div class="row" ng-show="importCsv">
    CSV
</div>
<div class="row" ng-show="importStory">
    <span ng-show="false">
    <md-button class="md-primary md-raised" ng-click="showPrompt($event)"  >
      Prompt Dialog
    </md-button>
    </span>
</div>
</div>

    <span ng-show="false">
        <md-button class="md-primary md-raised" ng-click="showAlert($event)">
            Alert
        </md-button>
    </span>
