<div class="jumbotron">
<div ng-controller="ExportController" ng-cloak layout="column">

<md-content layout="row" layout-fill layout>

  <md-card flex="35" class="text-center" layout-fill>
    <br />
    <br />
    <md-card-title-text>
        <span class="md-headline">GDIS Export</span>
    </md-card-title-text>
    <md-card-content>
          <p>
            Hier können .csv und .story Dateien exportiert werden.
          </p>
          <p>
            Sie können entweder eine zu exportierende Story auswählen, zu der dann alle passenden Daten exportiert werden, oder aber ein paar Entitys auswählen, zu denen dann entweder passende Storys gefunden werden, oder aber nur die Entitäten als Daten exportiert werden.
          </p>
    </md-card-content>
  </md-card>

<!-- <md-divider></md-divider> -->

  <md-card flex="65" layout-fill>
    <md-toolbar layout="row" style="background:#C11E0D;">
      <div class="md-toolbar-tools">
        <span>Exports</span>
      </div>
    </md-toolbar>
      <md-subheader class="md-no-sticky text-center">
        <p>Vorhandene Exports</p>
      </md-subheader>
      <md-list class="md-dense" flex>
        <md-card-content>
        <div layout="row" ng-repeat="export in exportWays track by $index">
          <div layout="column" flex="65">
            <md-list-item>
              <img ng-src="imgs/favicon.ico" class="md-avatar" alt="" />
              <div class="md-list-item-text" layout="column">
                <h5>{{ export.way }}</h5>
                <p>{{ export.url }}{{export.selected}}</p>
              </div>
            </md-list-item>
          </div>
          <div layout="column" flex="20" ng-if="export.ident != 'custom'">
            <md-input-container>
              <label ng-if="$index != 0">{{export.ident}}</label>
              <md-select ng-model="export.selected" ng-if="$index != 0" required>
                <md-option ng-value="sel" ng-repeat="sel in export.select">{{ sel }}</md-option>
              </md-select>
            </md-input-container>
          </div>
          
          <div layout="column" flex="20" ng-if="export.ident == 'custom'"></div>

          <md-divider></md-divider>
          <div layout="column" flex="15">
            <md-list-item>
                <md-button class="md-raised md-primary" ng-href="{{export.url + export.selected}}" target="_blank" ng-if="export.ident != 'custom'" ng-disabled="export.selected == undefined && $index != 0">Export</md-button>
                <md-button class="md-raised md-primary" ng-click="openModal({ modalName: 'Custom GDIS Export' })" ng-if="export.ident == 'custom'">Export</md-button>
            </md-list-item>
          </div>
        </div>
        </md-card-content>
      </md-list>
    </md-card>
</md-content>
</div>
<div class="row" ng-show="importCsv">
    CSV
</div>
<div class="row" ng-show="importStory">
    <span ng-show="false">
    <md-button class="md-primary md-raised" ng-click="showPrompt($event)"  >
      Prompt Dialog
    </md-button>
    </span>
</div>
</div>

    <span ng-show="false">
        <md-button class="md-primary md-raised" ng-click="showAlert($event)">
            Alert
        </md-button>
    </span>
